<nav-page id="app-page">
  <header class="bar bar-header bar-calm">
    <button class="button button-icon" ng-click="goToHome()"><i class="icon ion-home"></i></button>
    <h1 class="title">About</h1>
  </header>
  <content has-header="true" padding="true">
    <h3>Talk2 is<br> anonymous chat</h3>
    <p style="color:white" >
      This app was forked<br>
       from the 3dd13's<br> Firebase/ Angular project <br>
       and also open sourced to help<br> students learn how to code. <br>
       We added:<br>
       Location<br>
       Proximity<br>
       Some Color<br>
       Some Font<br>
       <br>(everything can be improved!)<br>
       Help!


    </p>
    <p style="color:white">
     All chats are anonymous.<br> We do not sell your data.<br> This is free of charge.<br> You can contribute by forking us<br> on github and sharing your <br>improvements <br>with CodeCloudMe.
    </p>
  </content>
</nav-page>