<nav-page id="app-page">
  <!--
  Create tabs with an icon and text label, using the tabs-positive style (blue by default),
  and disabling header title animation when switching tabs.
  -->
  <tabs tabs-style="tabs-icon-top" tabs-type="tabs-calm" animate-nav="true">

    <!-- Pets tab -->
    <tab title="Lobby" icon="icon ion-home" ng-controller="RoomsTabCtrl">
      <content
        has-header="true"
        has-footer="true"
        has-tabs="true"
        scroll="true"
        padding="true"
        on-refresh="onRefresh()"
        >

        <!-- for pull to refresh -->
        <refresher></refresher>
        
        <list>
          <link-item ng-repeat="room in rooms" type="item-text-wrap" href="#/rooms/{{room.id}}">
              <h3>{{room.title}}</h3>
              <p>{{room.description}}</p>
            </item>
          </link-item>
        </list>
      </content>
    </tab>

    <!-- Adoption tab -->
    <tab title="New Room" icon="icon ion-heart" ng-controller="NewRoomCtrl">
      <content has-header="true">                  
        <div class="padding">
          <h2>Create a room today.</h2>
        </div>

        <form ui-keypress="{13:'createRoom($event)'}">
          <div class="list list-inset">
            <label class="item item-input">
              <span class="input-label">Chat room name</span>
              <input type="text" placeholder="e.g. Homework Discussion" data-ng-model="newRoomName" data-ng-change="setNewRoomNameId()">
            </label>
            <label class="item item-input">
              <span class="input-label">Room ID</span>              
              <input type="text"  data-ng-model="newRoomNameId" readonly="readonly">
            </label>                    
            <label class="item item-input">
              <span class="input-label">Chat room description</span>              
              <input type="text" placeholder="e.g. How to do recursion" data-ng-model="newRoomDescription" >
            </label>
          </div>
          <div class="padding">
            <button class="button button-full button-positive" ng-click="createRoom()">Submit</button>
          </div>
        </form>
      </content>
    </tab>

    <!-- Home tab -->
    <tab title="About" icon="icon ion-search">
      <content has-header="true" has-tabs="true" padding="true">
        <h3>About this app</h3>
        <p>
          This is a chat apps to replace hipchat in my class.
        </p>
        <p>
          Powered by <a href="http://3dd13.me">3dd13</a>
        </p>
      </content>
    </tab>

  </tabs>
</nav-page>
