<nav-bar animation="nav-title-slide-ios7" class="nav-title-slide-ios7" type="bar-calm" back-button-type="button-icon" back-button-icon="icon ion-arrow-left-c">
</nav-bar>
<nav-page title="title">
  <content
    has-header="true"
    has-footer="true"
    scroll="true"
    padding="true"
    on-refresh="onRefresh()"
    on-refresh-opening="onRefreshOpening(amount)"
    refresh-complete="refreshComplete"
     animate-nav="true"
    >

    <!-- for pull to refresh -->
    <refresher></refresher>
  
    <div ng-repeat="message in messages" type="item-text-wrap">    
      <div class="card item-message">
        <div class="item-message-header">
          <div class="row">
            <small class="col">{{message.created_by}}:</small>
            <small class="col text-right">{{message.created_at | date: 'short' }}</small>
          </div>
        </div>
        <div class="item-message-body item-text-wrap">
          {{message.content}}
        </div>
      </div>
    </div>
  </content>

  <div class="bar bar-footer bar-stable" id="bar-footer-message-box">
    <div class="list list-inset">
      <form ui-keypress="{13:'submitAddMessage($event)'}" data-ng-submit="submitAddMessage()" >
        <label class="item item-input">
          <input type="text" placeholder="your message ..." data-ng-model="newMessage">
          <button class="button button-positive">Send</button>
        </label>
      </form>
    </div>
  </div>
</nav-page>