<nav-page title="room.title">
  <content
    has-header="true"
    has-footer="true"
    scroll="true"
    padding="true"
    on-refresh="onRefresh()"
    on-refresh-opening="onRefreshOpening(amount)"
    refresh-complete="refreshComplete"
    >

    <!-- for pull to refresh -->
    <refresher></refresher>
      
    <div ng-repeat="message in room.messages" type="item-text-wrap">    
      <div class="card">
        <div class="item item-divider">
          <div class="row">
            <div class="col">{{message.created_by}}</div>
            <div class="col text-right">{{message.created_at | date: 'short' }}</div>
          </div>
        </div>
        <div class="item item-body item-text-wrap">
          {{message.content}}
        </div>
      </div>
    </div>
  </content>
  
  <div class="bar bar-footer bar-stable" id="bar-footer-message-box">
    <div class="list list-inset">
      <form ui-keypress="{13:'submitAddMessage($event)'}" data-ng-submit="submitAddMessage()" >
        <label class="item item-input">
          <input type="text" placeholder="your message ..." data-ng-model="newMessage">
          <button class="button button-positive">Send</button>
        </label>
      </form>
    </div>
  </div>
</nav-page>