<?xml version='1.0' encoding='utf-8'?>
<widget id="talk2.talk2" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Talk2</name>
    <description>
        This Talk2 App was built on Ionic Framework app using Cordova and AngularJS and forked from 3dd13.me
    </description>
    <author email="m@codecloud.me" href="http://codecloud.me">
       Mike De'Shazer
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
</widget>
