#splash-page {
  background-color: white;
}

#bar-footer-message-box {
  height: initial;  
}

#bar-footer-message-box .list {
  width: 100%;
}

.item-message {
  background-color: #DEF;
}

.item-message-header {
  font-style: italic;
}

.item-message-body {
  padding: 4px 20px; 
}